<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <head>
        <link rel="stylesheet" type="text/css" href="CSS\about_styles.css"
    </head>
</head>
<body>
    <ul>
        <img src="Images/TheOscarProjectLogo.png" class= "logo" alt="The Oscar Project" width="180" height="50">
        <li><a class="active" href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="api.html">API</a></li>
    </ul>
    <div class="background">
        <img src="Images/Background5.jpg" alt="Background" width="1200" height="700">
    </div>

    <script src="index.js" charset="utf-8"></script>
</body>
</html>